h1, h4 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.section {
    padding-top: 75px;
}

.course {
    background-color: #eeeeee;
    color: black;
    transition: all 0.3s;
}

.course:hover {
    background-color: var(--bs-primary);
    color: white;
}

.btn-primary {
    background-color: #88182d;
    border-color: #88182d;
}

.btn-primary:hover {
    background-color: #721426;
    border-color: #721426;
}
